.env
.terraform/
terraform.tfstate
terraform.tfstate.backup
**.aux
**.log
**.out
**.toc
/nixos/hostkeys/*
!/nixos/hostkeys/README.md
*.fdb_latexmk
*.fls
main.synctex.gz
main.run.xml
*.blg
*.bbl
main-blx.bib
main.pdf
.env.home
