# Grafana endpoint and credentials
GRAFANA_URL=http://10.60.60.14:3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=changeme

# Dashboard to import
DASHBOARD_SRC=dashboard.json
DASHBOARD_NAME=main-dashboard
NAMESPACE=default

# Old datasource UID from dashboard.json
OLD_DS_UID=bfkdgu0nr13pcb
